body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D49563;
    color: #333;
  }
  
  header {
      background-color: #97572B; 
      padding: 15px 0;
      text-align: center;
      top: 0;
      width: 100%;
      z-index: 1000;
  }
  
  
  nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
  }
  
  
  nav a {
      text-decoration: none;
      color: white;
      font-size: 16px;
      font-weight: bold;
      padding: 10px 15px;
      border-radius: 5px;
      transition: background 0.3s, transform 0.2s ease-in-out;
      background-color: #DB9E76;
  }
  
  
  nav a:hover {
      background-color: #EBC6AF; 
      color: #fff;
      transform: scale(1.1);
  }
  
  
  
  
  
  section {
    width: 80%;
    margin: 20px auto;
    background: #E6C2A9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(206, 33, 33, 0.2);
    border: 2px solid #07010e;
  }
  
  h1,
  h2 {
    text-align: center;
    color: black;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 2px solid #010003;
    border-radius: 8px;
    background: #D9A27C;
  }
  
  input,
  select {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #b39ddb;
    border-radius: 5px;
    background-color: #faf5ff;
  }
  
  button {
    background-color: #140a18;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s, transform 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #19141d;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(16, 6, 22, 0.2);
  }
  
  ul {
    padding: 10px;
  }
  
  ul li {
    padding: 5px;
    font-weight: bold;
    color: #030303;
  }
  
  p,
  span,
  h3,
  h4 {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #0c0314;
  }
  
  
  
  div {
      padding: 10px;
      font-size: 16px;
      font-weight: bold;
      color: #18161a;
      background: #f8f2ff; 
     
      display: flex;
      align-items:center;
      gap: 10px;
  }
  
  
  input[type="radio"]{
    accent-color: #f4edf7;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
  
  input[type="checkbox"] {
      appearance: none; 
      width: 15px;
      height: 15px;
      cursor: pointer;
      position: relative;
      background: white;
  }
  
  input[type="checkbox"]:checked {
      background-color: BLACK;
      border-color: #6a0dad;
  }
  
  
  input[type="checkbox"]::before {
      content: "✔";
      font-size: 16px;
      color: white;
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  
  input[type="checkbox"]:checked::before {
      display: block;
  }
  
  
  input[type="checkbox"] :hover {
      border-color: #6a0dad; 
  }
  
  @media (max-width: 768px) {
      header{
          width: 100%;
      }
      nav {
          flex-direction: column;
          align-items: center;
      }
  
      nav a {
          width: 60%;
          text-align: center;
      }
    
      section {
      width: 80%;
    }
  
    input,
    select {
      width: 90%;
    }
  }